@font-face {
    font-family: Kanz-al-Marjaan;
    src: url('../fonts/Kanz-al-Marjaan.ttf');
}

.arabic-text {
    font-family: Kanz-al-Marjaan;
    /* font-size: 30px; */
    line-height: 1.2;
    direction: rtl;
    /* text-align: center; */
    text-transform: uppercase;
    display: block;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;

}